body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.content {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
}

.goback {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
}